In [20]:
# importing libraries
import pandas as pd
import numpy as np 
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [21]:
# reading the house dataset and getting the first five outputs
data = pd.read_csv("data/kc_house_data.csv")
data.head()

In [3]:
# getting an overview of the dataset, including the number of non-null values and the data types of each column
data.info()

In [4]:
# getting the number of rows and columns in the data.
data.shape

In [5]:
# checking the datatypes of the columns
data.dtypes

In [6]:
# generating summary statistics for the numerical columns in the dataset
data.describe()

In [7]:
# checking the proportion of missing values per column
data.isna().sum()/len(data)

In [8]:
# since waterfront has missing values, we first check the value counts
data['waterfront'].value_counts()

In [9]:
# filling in missing values in the 'waterfront' column with the string 'NO'
data['waterfront'] = data['waterfront'].fillna('NO')
# getting an overview of the dataset after filling the missing values in Waterfront
data.info()

In [10]:
# dropping columns that we will not be using 
columns_to_drop = ['date', 'view', 'sqft_above', 'sqft_basement', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']
data.drop(columns_to_drop, axis=1, inplace=True)
#data.drop(columns=['column_name1', 'column_name2', ...], axis=1

In [11]:
data.info()

In [12]:
# checking if there are any duplicated columns
data.duplicated().any()

In [13]:
# checking the sum of duplicated ids
data['id'].duplicated().sum()
# dropping the duplicated values and keeping the first in id column
data = data.drop_duplicates(subset='id', keep='first')

In [14]:
# now checking the if there are any duplicated values
data.duplicated().sum()

In [15]:
data.shape

## Explotory data analysis

### Univariate analysis

In [16]:
#Histrogram showing Bill Length
x=data['bathrooms']
#when you are plotting the histogram,plt.hist(have the necessary parameters here)
plt.hist(x, bins=10, histtype='bar')
#when to give my plot a title
plt.title('Histogram showing bathrooms')
plt.xlabel('bathrooms')
plt.ylabel('price')
plt.show()

In [17]:
# checking for categorical columns
categorical_columns = data.select_dtypes(include=['object', 'category']).columns
categorical_columns

In [18]:
# exploring categorical variables,using value_counts() to get the count of each unique value in a column 
# using describe() to get summary statistics for categorical columns.
for column in categorical_columns:
    value_counts = data[column].value_counts()
    print(f"Value counts for {column}:\n{value_counts}\n")

# Summary statistics for categorical columns
print(data[categorical_columns].describe())

In [19]:
#dealing with missing values in the genre column since its a major variable in our analysis
data.dropna( subset='price' , inplace=True)
movie_basics.info()